<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UseRandomImages" value="false"/>
    <add key="ShowPastHolidays" value="false"/>
    <add key="CalendarFontSize" value="23"/>
    <add key="HolidaysFontSize" value="21"/>
    <add key="CopyrightFontSize" value="23"/>
    <add key="CalendarFontFileName" value="irsans.ttf"/>
    <add key="CopyrightFontName" value="Tahoma"/>
    <add key="ShowCopyright" value="true"/>
  </appSettings>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
  </runtime>
  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="True" bypassonlocal="True"/>
    </defaultProxy>
    <connectionManagement>
      <add address="*" maxconnection="100"/>
    </connectionManagement>
  </system.net>
</configuration>